@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');/*font classes*/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/*web-page style*/
html, body{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background:#1f1919;
    scroll-behavior: smooth;
}

/*NAVBAR*/
nav{
  color: black!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 60px 10vw 60px 10vw;
  font-size:18px;
  z-index:9999;
  font-weight:300!important;
  position:fixed;
  width:100vw;
}
.navbar-placeholder{

  padding: 60px 10vw 100px 10vw;
}
nav img, span{
    vertical-align:middle;
    display:inline; 
}
nav span{
    margin-left:10px;
}
.logo{
  display:inline-block;
}
.logo-img{
    height:50px;
    filter: invert(1);
    
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-items>ul>li {
  margin-left: 20px;
}
.nav-items{
  text-align: right;
  display:block;
}
ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color: #7F7B82;
}
.nav-responsive-toggle{
  display:none;
}
p{
  font-size:18px;
}

/*HOME*/
.home{
  width:100%;
}
.arrow-placeholder{
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  width:100%;
}
.box span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
  z-index:999;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}
.header .title{
  font-size:5em;
  margin-top:50px!important;
  margin-bottom:50px;
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  line-height:1;
  min-height:0px;
}
.header{
  text-align:left;
  font-style: normal;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:flex-start;
  text-align:left;
  color:white;
  margin-left:10vw;
  margin-right:10vw;
  padding:80px 100px 80px 100px;
  background:linear-gradient(0deg, #15151885, #2121252c), url('../resources/splash-img.jpg');
  filter:contrast(0.85);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  box-shadow:0px 0px 15px rgb(0, 0, 0, 0.9);
  border-radius:10px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
  .card {
    flex: 0 0 auto;
    margin-left: 3px;
  }
}

/*CARD*/ 
.card {
  width: 400px;
  height: 400px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:20px;
  color:white;
  padding:20px;
  margin-left:100px;
}
.card-content{
  align-self: end;
  text-align:right;
  line-height:1;
}
.card-content a{
  color:white!important;
  text-decoration:none;
  padding:2px;
  border-bottom:2px solid white;
}
.card-content a:hover {
  color: #7F7B82!important;

  border-bottom:2px solid #7F7B82;
  transition: all 0.3s;
}
.end{
  margin-right:10vw;
}
.start{
  margin-left:10vw;
}
.work{
  margin-top:200px;
  padding:80px 0 80px 0;
}
.scrolling-wrapper, .scrolling-wrapper-flexbox {
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
/*card background*/
.tdcr{
  background: linear-gradient(90deg, #362c2c47 75%, #1f1919 25%),url('../resources/tdcr.png')!important;
  background-size:cover!important;
  background-repeat:no-repeat!important;
}
.prosthetic{
  background: linear-gradient(90deg, #362c2c47 75%, #1f1919 25%),url('../resources/prosthetic.png')!important;
  background-size:cover!important;
  background-repeat:no-repeat!important;
}
.gripper{
  background: linear-gradient(90deg, #362c2c47 75%, #1f1919 25%),url('../resources/gripper.png')!important;
  background-size:cover!important;
  background-position:bottom!important;
  background-repeat:no-repeat!important;
}
.ccc{
  background: linear-gradient(90deg, #362c2c47 75%, #1f1919 25%),url('../resources/ccc-web.jpg')!important;
  background-size:cover!important;
  background-repeat:no-repeat!important;
}
#work{
  margin-top:150px;
}
/*about*/
.about{
  padding: 0px 10vw 60px 10vw;
  margin-top:200px;
  color:white;
  line-height:1;

}
.about-inner{
  display:flex;
  flex-direction:row;
}
.about .title{
  font-family: "Noto Serif Display", serif;
  text-align:left!important;
  font-optical-sizing: auto;
  font-weight:normal!important;
  font-size:5em;
  margin-block-start: 0px!important;
  margin-block-end: 50px!important;
}
.about-info{
  width:100%;
  margin-right:50px;
  font-weight:200;
  line-height:1.1;
}
.about-image{
  width:100%;
  background: linear-gradient(90deg, #362c2c0a 100%, #1f1919 0%),url('../resources/brandon.png')!important;
  background-size:cover!important;
  background-position:top center!important;
  background-repeat:no-repeat!important;
  filter:contrast(1.2);
}
.skills-container{
  width:500px;
  margin-right:50px;
}
.skills-title{
  font-weight:600;
  
  text-transform:uppercase;
  display:block;
  margin-bottom:5px;
}
.skill{
  display:flex;
  align-items:center;
  }
  .skill-icon{
      float:left;
      font-size:20px;
      margin-right:10px;
  }
  .skill-content{
      display:inline-block;
      width:100%;
  }
  .bar {
    height: .2rem;
    background-color: #e4e9ef;
    border-radius: 5px;
    position: relative;
    margin-bottom:5px;
  }
   .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f89766;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #6dd59455;
  }
  .about a{
    font-weight:400;
    color:white!important;
    text-decoration:none;
    padding:2px;
    border-bottom:2px solid white;
  }
  .about a:hover{
    color: #7F7B82!important;

    border-bottom:2px solid #7F7B82;
    transition: all 0.3s;
  }
.skills2-inner{
  display:flex;
  flex-direction:row;
  margin-top:20px;
}
.job {
  width: auto;
  margin-bottom:20px;
}
.details {
  width: 100%;
}
.small-img {
  width: 50px;
  float: left;
}
.education-experience{
  width:100%;
  align-self:flex-start;
}
.education-experience a{
  text-decoration:none!important;
  border-bottom:none;
}
.education-experience a:hover{
  text-decoration:none!important;
  border-bottom:none;
}
footer{
  padding: 100px 10vw 100px 10vw;
  background:rgb(14, 13, 13);
  margin-top:100px;

  display:flex;
  flex-direction:row;
}
footer a{
  font-weight:400;
  color:white!important;
  text-decoration:none;
  padding:2px;
  border-bottom:2px solid white;
}

footer a:hover{
  color: #7F7B82!important;

  border-bottom:2px solid #7F7B82;
  transition: all 0.3s;
}
.footer-col-1{
  width:100%;
}

.footer-col-2{
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: end;
}

.footer-col-2 img{
  width:200px;
}























/*RESPONSIVENESS*/
@media screen and (max-width: 850px) {
.card {
  width: 380px;
  height: 380px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:18px;
  color:white;
  padding:20px;
  margin-left:50px;
}
.logo{z-index:99999;}
.work{
  margin-top:300px;
  padding:80px 0 80px 0;
}
#work{
  margin-top:150px;
}
.card-content{
  align-self: end;
  text-align:right;
}
.end{
  margin-right:20px;
}
.start{
  margin-left:20px;
}
.nav-items{
  background: black;
    left: 0;
    text-align: left;
    top: 0;
    position: fixed;

  display: flex;

    z-index: 999;
    margin: 0;
    padding: 0;
    height: 100vh;
    visibility:hidden;
    align-items: center;
    justify-content: left;
    width: 100vw;
      opacity:0;
    font-size: 30px;
}
.nav-items.active {
  transition: opacity 0.3s ease, visibility 0.3s ease; /* fade transition */
  visibility:visible;
  opacity: 1;
}
li{
  margin:0!important;
width:100vw;
  border-bottom:1px solid white;
  padding: 30px;
}
ul{
  padding: 0px;
  display: block!important;
  list-style: none;
  text-align: left;
}
.nav-responsive-toggle{
  display:inline-block;
  font-size:25px;
  margin:0;
  color:white;
  float:right;
}
nav{
  padding: 30px 20px 30px 20px !important;
  font-size:16px;
}

.header .title{
  font-size:4rem;
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  line-height:1;
  margin-bottom:0px;
}
.header{
  text-align:left;
  font-style: normal;
  display:flex;
  flex-direction:column;
  justify-content: center;
  color:white;
  margin-left:20px;
  margin-right:20px;
  padding:0 20px 0px 20px;
  min-height:75vh;
  background:linear-gradient(0deg, #15151885, #2121252c), url('../resources/splash-img.jpg');
  filter:contrast(0.85);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  box-shadow:0px 0px 15px rgb(0, 0, 0, 0.9);
  border-radius:10px;
}

/*about*/
.about{
  padding: 0px 20px 60px 20px;
  margin-top:200px;
  color:white;
  line-height:1;

}
.about-inner{
  display: flex;
  flex-direction: column;
  overflow:hidden;
}
.about .title{
  font-family: "Noto Serif Display", serif;
  text-align:left!important;
  font-optical-sizing: auto;
  font-weight:normal!important;
  font-size:4em;
  margin-block-start: 0px!important;
  margin-block-end: 50px!important;
}
.about-info{
  text-align:left;
  width:100vw;
  margin-right:0;
  font-weight:200;
  line-height:1.1;
}
.about-image{
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
}
.skill{
  display:flex;
  align-items:center;
  }
  .skill-icon{
      float:left;
      font-size:20px;
      margin-right:10px;  
  }
  .skill-content{
      display:inline-block;
      width:100vw;
      margin-right:20px;
  }
  .bar {
    height: .3rem;
    background-color: #e4e9ef;
    border-radius: 5px;
    position: relative;
    margin-bottom:10px;
  }
   .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f89766;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #6dd59455;
  }
  .skills-container{
    margin-top:0px;
  }
  .skills2-inner{
    display:flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction:column;
    margin-top:0px;
    
  }
  .education-experience{
    width:100%;
    word-wrap:wrap;
    margin-right:0;
  }
  .skills-container{
    width:100%;
    margin-right:0;
  }
  .job {
    width: 100%;
    margin-bottom:50px;
  }
  footer{
    display:flex;
    flex-direction:column;
  }
  .footer-col-2{
    width: 100%;
    display: flex;
    align-self: flex-start;
    justify-content: start;
  }
  
}
